$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../font/icon/fonts" !default;

$icon-map: "\f041";
$icon-phone: "\f095";
$icon-facebook: "\f09a";
$icon-mail: "\f0e0";
$icon-spinner: "\f110";
$icon-instagram: "\f16d";
$icon-whatsapp: "\f232";

